[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

alabaster = "*"
appnope = "*"
babel = "*"
bleach = "*"
colorlover = "*"
decorator = "*"
docutils = "*"
entrypoints = "*"
future = "*"
"html5lib" = "*"
imagesize = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
jedi = "*"
"jinja2" = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
markupsafe = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
py = "*"
pygments = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
python-highcharts = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
requests = "*"
simplegeneric = "*"
snowballstemmer = "*"
sphinx = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"


[requires]

python_version = "3.5"
